@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    position: relative; 
    /* font-family: 'Playfair Display', serif;  */
    font-family: 'Poppins', sans-serif;
}

#main{    
    background: linear-gradient(rgba(237, 230, 240, 0.7), rgba(222, 211, 226, 0.7)), url(assets/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;    
}
.footerClass ul li, p{
    font-weight: normal;
}

#navbar{
    font-family: 'Cinzel', serif;    
    background: #fff;
}

.pageRibbon {    
    border-top: 100px solid #f7d852;
    border-right: 100px solid transparent;    
}

.pageTitle {
    margin-top:-80px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;    
    text-shadow: 5px 5px 5px lightsteelblue;
}

.mainbg {
    background: linear-gradient(rgba(37, 5, 49, 0.5), rgba(60, 14, 78, 0.5)), url(assets/mainbg.jpg);
}

